.CountryInstance {
  text-align: center;
  background: linear-gradient(180deg, #3C0C0C 0%, 
  #791414 45.83%, #3C0C0C 95.83%);
  width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.Country-header{
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
    position: relative;
    text-align: center;
    color: white;
    font-family: "Raleway";
    display: "flex";
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Raleway";
  }



.image_holder{
  object-fit: scale-down;
  background-position: center;
  height:auto;
}


.column1 {
  padding-left:10vw;
  padding-right:5vw;
  width: 35%;
  text-align:left;
}

.line{
  width: 0.5%;
}

.column2 {
  padding-left:8vw;
  padding-right:6vw;
  width: 64.5%;
}
.title{
  font-family: Staatliches;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 124px;
  text-align: center;  
  margin:0;
  padding:0;
}
.info-style{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
}

.info-title-style{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
}

.info-unit-style{
  font-family: Raleway;
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  line-height: 24px;
}

.map-style {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.row-style {
  margin-top: 10px;
  margin-bottom: 0px;
}
.subcolumn {
  width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}