.ais-Hits-item {
    display: flex;
    text-align: left;
}

.Search {
    text-align: center;
    padding-right: 2vw;
    padding-left: 2vw;
    background: linear-gradient(180deg, #3C0C0C 0%, 
    #791414 45.83%, #3C0C0C 95.83%);
    font-family: "Raleway";
    color: white;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    align-items: center;
}

.result-style {
    font-family: "Raleway";
    color: white;
}

.list-item {
    padding-left: 2vw;
}

.search-side-by-side {
    display:flex; 
    flex-direction:row;
    color: white;
    align-items: center;
    font-family: "Raleway";
    text-align: left;
}
  
.search-heading {
    margin-top: 100px;
    font-size:80px;
}

.search-columns{
    width: 33.333%;
    margin-bottom: 100px;
}

.card {
    display:inline-block;
} 

.card-title-style {
    text-align: center;
    font-size: 40px;
}

.card-text-style {
    text-align: left;
    color: black;
}

.section-title {
    text-align: left;
    font-size: 70px;
}

.section-subtitle {
    text-align: left;
    font-size: 20px;
}

.query-style {
    font-size: 50px;
}

.ais-Highlight-highlighted {
    background-color: rgb(241, 152, 157);
}

.btn-primary {
    background-color: black;
    border-color: black;
    font-size: 20px;
}