.h3_about {
    font-size: 36px;
    color: #ffffff;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
  }
  
.h2_about {
    font-size: 25px;
    color: #ffffff;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
}

.h1_about {
    font-size: 20px;
    color: #ffffff;
    
}

.p_about {
    font-size: 20px;
    color: #FFFFFF;
    text-align:left;
    padding-bottom: 5vh;
    padding-left:5vh;
    padding-right:5vh;
    font-family: 'Raleway';
}
  
.About-body {
    text-align: center;
    min-height: 50vh;
    padding-right: 2vw;
    padding-top: 100px;  
    padding-left: 2vw;
    background: linear-gradient(180deg, #3C0C0C 0%, 
    #791414 45.83%, #3C0C0C 95.83%);
}
.row {
    align-content: center;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.columns{
    width: 33.333%;
}
.set-column{
    width:50%
}

.about-column{
    align-content: center;
   
}
.about-carousel{
    padding-left:5vh;
    padding-right:5vh;
    align-content: center;
}

.about-member-columns{
    width: 33.333%;
    margin-bottom: 100px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
.card-img-bottom {
    width: 100%;
    height: 10vw;
    object-fit: contain;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
.About {
    text-align: center;
    font-family: 'Raleway';
}

.ToolImage{
    object-fit: cover;

}

.Tools{
    min-height: 50vh;
    padding-right: 2vw;
    padding-left: 2vw;
    text-align: left;
    font-size: 25px;
    font-family: 'Raleway';
    color: black;
    background-color: white;

}

.caption{
    font-size: 14px;
    color: black;
    text-align: center;
    font-family: 'Raleway';
}

.about-purpose {
    font-size: 20px;
    color: #FFFFFF;
    text-align:center;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 5vh;
    font-family: 'Raleway';
}
  
.About-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .About-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}
  
.About-link {
    color: #61dafb;
}
  
@keyframes About-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.set-list-image{
    height:50px;
    width:auto;
}
  