.YearInstance {
    text-align: center;
    background: linear-gradient(180deg, #3C0C0C 0%, 
    #791414 45.83%, #3C0C0C 95.83%);
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.Year-header{
    margin-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.image_holder{
    object-fit: scale-down;
    background-position: center;
    height:auto;
}


.year-column1 {
    align-items: center;
    text-align: center;
    padding-left:11vw;
    padding-right:5vw;
    width: 50.5%;
}

.line{
    width: 0.5%;
}

.year-column2 {
    padding-left:8vw;
    padding-right:6vw;
    width: 49%;
    text-align:center;
}

.year-title{
    font-family: "Prompt";
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 124px;
    text-align: center;  
    margin-top:30px;
    padding:0;
}
.info-style{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
}

.info-title-style{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
}

.info-unit-style{
    font-family: Raleway;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 24px;
}

.map-style {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row-style {
    margin-top: 10px;
    margin-bottom: 0px;
}
.subcolumn {
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

.graph-style {
    margin-left: 8vw;
    margin-right: 8vw;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding:0;
    display:inline-block;
}