.YearsTable {
    text-align: center;
}

.table-title {
    text-align: left;
    margin-top: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.highlight-class {
    background-color: rgb(241, 152, 157);
}