.OurNavbar {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.navbar-tabs {
    color: white;
    font-family: 'Raleway';
}

.logo-style {
    max-height: 5px;
}