.Countries {
  text-align: center;
}

.Countries-header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9) ),
  url("../assets/golden-map.jpg");
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire container */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #FFFFFF;
  font-family: "Raleway";
}

.Countries-h1 {
  height: 100%;
  text-align: center;
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 200px;
}

.Countries-table {
  display: 'table';
  table-layout:'fixed';
  width:'100%';
}

.side-by-side {
  display:flex; 
  flex-direction:row;
  color: #FFFFFF;
}

.table {
  text-align: left;
}

.instructions{
  font-size: 16px;
}