.GeneralYears {
    text-align: center;
}
  
.Years-header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ),
    url("../assets/fire.jpg");
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire container */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    font-family: "Raleway";
}
  
.Years-table {
    display: 'table';
    table-layout:'fixed';
    width:'100%';
}

.side-by-side {
    display:flex; 
    flex-direction:row;
    color: white;
}

.Years-h1 {
    height: 100%;
    text-align: center;
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 120px;
}